/* HEADER */
header {
  justify-content: center;
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(70, 167, 202, 1);
  background-image: url("../assets/bg01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}
header:hover {
  box-shadow: 0px 1px 10px rgba(70, 167, 202, 1);
  z-index: 5;
}
header div {
  height: 100%;
}
.calLogo {
  width: 20%;
  display: flex;
  justify-content: center;
}
.calLogo div img {
  height: 100%;
  width: 100%;
  padding: 6%;
}
.title {
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  width: 60%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h2 {
  font-size: 25px;
  letter-spacing: 10px;
}
.title h5 {
  font-size: 13px;
  letter-spacing: 10px;
  padding-top: 7px;
}
.depEdLogo {
  width: 20%;
  display: flex;
  justify-content: center;
}
.depEdLogo div img {
  height: 100%;
  width: 100%;
  padding: 6%;
}
/* HEADER */

/* FOOTER */
footer {
  color: white;
  box-shadow: 0px -1px 2px rgba(70, 167, 202, 1);
  background-color: rgba(70, 167, 202, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer div {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

footer div div img {
  padding: 5%;
}

/* FOOTER */

@media screen and (max-width: 1520px) {
  .title h2 {
    font-size: 20px;
  }
  .title h5 {
    font-size: 10px;
    padding-top: 7px;
  }
}

@media screen and (max-width: 1335px){
  .title h2 {
    letter-spacing: 9px;
  }
  .title h5 {
    letter-spacing: 8px;
  }
}


