* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.schoolYearContainer {
  position: absolute;
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  background-image: url("../assets/loginBg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-family: "Tomorrow", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

div.schoolYearContainer div.year {
  margin-top: 6vh;
  width: 97%;
  height: 7vh;
  background-color: rgb(168, 255, 118, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: black;
  border-radius: 5px;
}

div.year h5 {
  width: 5%;
  text-align: center;
  font-size: 50px;
}

div.year h5:hover {
  cursor: pointer;
}

div.year h6 {
  width: 60%;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
}

div.year a {
  text-decoration: none;
  color: black;
}

div.schoolYearContainer div.month {
  font-size: 20px;
  width: 95%;
  height: 60vh;
  background-color: rgb(26, 156, 139, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  box-shadow: 0px 1px 2px rgb(49, 134, 0);
  border-radius: 0px 0px 25px 25px;
}

div.month div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

div.month div h3 {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30px;
  font-size: 23px;
  letter-spacing: 3px;
  box-shadow: 0px 0px 2px rgb(168, 255, 118);
}

div.month div h3:hover {
  cursor: pointer;
  background-color: rgb(168, 255, 118, 0.2);
  box-shadow: 0px 0px 2px rgb(168, 255, 118);
  font-size: xx-large;
  border-radius: 0px 0px 25px 25px;
  transition: 0.2s;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  div.year h5 {
    font-size: 40px;
  }
  div.year h6 {
    font-size: 25px;
    letter-spacing: 2.5px;
  }
  div.month div h3{
    font-size: 18px;
  }
  div.month div h3:hover {
    font-size: 23px;
  }
}
/* RESPONSIVE DESIGN */
