* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section.nav {
  font-family: "Tomorrow", sans-serif;
  height: 100vh;
  width: 27vh;
  left: 0;
  z-index: -1;
  position: fixed;
  background-color: rgb(77, 209, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
  align-items: center;
}

section.nav .admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.nav .admin h6 {
  color: rgb(17, 0, 255);
  font-size: 20px;
  letter-spacing: 2px;
  font-style: italic;
}

section.nav .admin h3 {
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

section.nav .title {
  padding: 10px 0px;
  width: 100%;
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

section.nav .title h3 {
  font-size: 20px;
  letter-spacing: 3px;
}

section.nav .title h6 {
  font-style: italic;
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
}

section.nav div.title h3 a {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: green;
  font-style: italic;
  text-transform: capitalize;
}

section.nav div.title hr {
  width: 80%;
  color: green;
}

div.legend {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

div.legend div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

div.legend div h3.color {
  width: 100%;
  background-color: aliceblue;
}

div.legend div h3.present {
  background-color: green;
  color: green;
}

div.legend div h3.absent {
  background-color: red;
  color: red;
}

div.legend div h3.schoolDays {
  background-color: yellow;
  color: yellow;
}

section.nav .navigate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

section.nav .navigate .goback a {
  letter-spacing: 3px;
  text-decoration: none;
  color: blue;
}

section.nav .navigate h1 a {
  letter-spacing: 3px;
  text-decoration: none;
  color: rgb(160, 0, 0);
}

section.main {
  font-family: "Tomorrow", sans-serif;
  overflow-x: auto;
  z-index: -1;
  position: absolute;
  top: 13vh;
  right: 0;
  bottom: 0;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

section.main table {
  text-align: center;
  width: 100%;
}

section.main table tr.tableHeader {
  font-size: 16px;
  background-color: rgb(212, 212, 212);
  width: 100%;
}

section.main table tr.tableHeader th.otherInfo {
  width: 5%;
  padding: 1px;
}

section.main table tr.tableHeader th.monthDays {
  width: 1.8%;
}

.classDay01,
.classDay02,
.classDay03,
.classDay04,
.classDay05,
.classDay06,
.classDay07,
.classDay08,
.classDay09,
.classDay10,
.classDay11,
.classDay12,
.classDay13,
.classDay14,
.classDay15,
.classDay16,
.classDay22,
.classDay23,
.classDay24,
.classDay25,
.classDay26,
.classDay27,
.classDay28 {
  background-color: green;
}

.classDay08,
.classDay09,
.classDay17,
.classDay18,
.classDay29,
.classDay30,
.classDay19,
.classDay20,
.classDay21,
.classDay31 {
  background-color: yellow;
}

section.main table tr td.studentInfo {
  padding: 2px;
  text-align: center;
  font-size: 13px;
  text-transform: capitalize;
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 768px) {
  section.main table tr.tableHeader th.otherInfo {
    font-size: 13px;
    width: 2%;
    padding: 1px;
  }

  section.main table tr.tableHeader th.monthDays {
    font-size: 13px;
    width: 1%;
  }

  section.main table tr td.studentInfo {
    padding: 2px;
    font-size: 10px;
  }
  section.main {
    width: 86%;
  }
  section.nav .title h6 {
    font-size: 11px;
    letter-spacing: 3px;
  }

  section.nav div.title h3 a {
    font-size: 13px;
  }

  section.nav .title h3 {
    font-size: 18px;
    letter-spacing: 3px;
  }

  section.nav .admin h6 {
    font-size: 15px;
  }

  section.nav .admin h3 {
    font-size: 23px;
  }
  div.legend {
    font-size: 15px;
    letter-spacing: 3px;
  }
  section.nav .navigate {
    font-size: 15px;
  }
}
/* RESPONSIVE DESIGN */
