* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 /* HEADER */
header {
  justify-content: center;
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: rgb(168, 255, 118);
  box-shadow: 0px 3px 5px rgb(49, 134, 0);
}

header div {
  height: 100%;
}

.calLogo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.calLogo div img {
  height: 100%;
  width: 100%;
  padding: 6%;
}

.title {
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h5 {
  padding-top: 1%;
}

.depEdLogo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.depEdLogo div img {
  height: 100%;
  width: 100%;
  padding: 6%;
}
 /* HEADER */

div.section-container {
  text-transform: uppercase;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

div.section-container section {
  font-family: "Tomorrow", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100vh;
  width: 100%;
}

div.section-container section:hover {
  cursor: pointer;
}

section.grade11 {
  background-color: rgb(26, 156, 139);
}

section.grade11 h1 a {
  text-decoration: none;
  text-shadow: -2px 2px 1px black;
  color: rgb(168, 255, 118);
}

section.grade11:hover {
  background-color: rgb(63, 186, 135);
}

section.grade12 {
  background-color: rgb(26, 156, 139);
}

section.grade12 h1 a {
  text-decoration: none;
  color: rgb(168, 255, 118);
  text-shadow: -2px 2px 1px black;
}

section.grade12:hover {
  background-color:  rgb(63, 186, 135);
}


div.addStudent {
  font-family: "Tomorrow", sans-serif;
  margin-bottom: -45px;
  height: 10vh;
  width: 17%;
  bottom: 10vh;
  position: absolute;
  border-radius: 20px 20px 0px 0px ;
  background-color: rgba(0, 158, 92, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
  
}

div.addStudent h3 a {
  color: white;
  width: 100%;
  text-decoration: none;
  letter-spacing: 5px;
}

div.addStudent:hover {
  background-color:  rgba(0, 158, 92, 0.8);
  box-shadow: -2px 2px 5px rgb(168, 255, 118);
  margin-bottom: 0;
  transition: 0.5s;
}

div.addStudent a:hover {
  color: rgb(168, 255, 118);
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 768px) {
  .title {
    font-size: smaller;
  }
  div.section-container section h1 {
    font-size: 40px;
  }
  div.addStudent {
    gap: 10%;
    margin-bottom: -25px;
  }
  div.addStudent h3 a{
    letter-spacing: 4px;
    font-size: 13px;
  }
}
/* RESPONSIVE DESIGN */

 /* FOOTER */
footer {
  color: white;
  background-color: rgb(26, 156, 139);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -1px 5px rgb(168, 255, 118);
}

footer div {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

footer div div img {
  padding: 5%;
}

footer div div img:hover {
  cursor: pointer;
  opacity: 0.5;
}
 /* FOOTER */
