* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/loginBg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.login-container section {
  justify-content: center;
  width: 100%;
  height: 60%;
}

section.loginFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.loginFormContainer form {
  font-family: "Tomorrow", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  background-color: rgba(43, 255, 0, 0.5);
 
  border-radius: 10px;
  height: 50%;
  width: 25%;
}

section.loginFormContainer form h3 {
  font-size: 30px;
  color:black;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: -2px 2px 1px rgb(168, 255, 118);
  align-self: center;
}

section.loginFormContainer form:hover {
  border-top: 1px solid rgb(0, 226, 19);
  border-bottom: 1px solid rgb(0, 226, 19);
}

section.loginFormContainer form label {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 15px;
  text-shadow: -1px -1px 2px rgb(168, 255, 118);
}

section.loginFormContainer form input {
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  padding: 3px;
  width: 70%;
  border-radius: 8px;
  border-color: rgb(19, 114, 0);
  margin-top: 3px;
}

.button-LogIn {
  padding: 5px;
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  transition-duration: 0.4s;
  border-radius: 8px;
  font-weight: bolder;
  border-style: none;
  color: white;
  background-color: black;
  margin-top: 8px;
  margin-bottom: 2px;
}

.button-LogIn:hover {
  cursor: pointer;
  background-color: rgb(168, 255, 118);
  color: black;
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 768px) {
  section.loginFormContainer form label {
    font-size: smaller;
    margin-top: 10px;
  }

  section.loginFormContainer form input {
    font-size: smaller;
  }

  section.loginFormContainer form h3 {
    font-size: 25px;
  }

  section.loginFormContainer form h6 {
    font-size: x-small;
  }

  section.loginFormContainer form button.button-LogIn {
    font-size: x-small;
  }
}

/* RESPONSIVE DESIGN */
