* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAVIGATION BAR */
section.nav {
  font-family: "Tomorrow", sans-serif;
  height: 5vh;
  top: 10vh;
  width: 100%;
  left: 0;
  z-index: 1;
  position: absolute;
  background-color: rgb(63, 186, 135,0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section.nav div.back-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

section.nav div.back-container h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.back-container h1 a{
  text-decoration: none;
  color: black;
}

section.nav .title {
  width: 40%;
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

section.nav .title div h3 {
  font-size: 23px;
  letter-spacing: 5px;
}

section.nav .title div h6 {
  padding-top: -10px;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 3px;
}

section.nav div.admin-container {
  width: 30%;
  display: flex;
  height: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
}

section.nav div.admin-container h6.adminLogged {
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.admin-container h6.adminLogged span {
  text-transform: none;
  color: green;
  letter-spacing: 2px;
  font-style: italic;
  cursor: pointer;
  text-shadow: -1px 1px 1px white;
} 

section.nav div.admin-container h2.logout a {
  text-decoration: none;
  color: rgb(160, 0, 0);
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}
/* NAVIGATION BAR */

div.schoolYearContainer {
  position: absolute;
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  /* background-image: url("../assets/loginBg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-family: "Tomorrow", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

div.schoolYearContainer div.year {
  margin-top: 10vh;
  width: 97%;
  height: 7vh;
  background-color: black;
  color: white;
  box-shadow: 0px 1px 2px white;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px white;
}

div.year h5 {
  width: 5%;
  text-align: center;
  font-size: 50px;
}

div.year h5:hover {
  cursor: pointer;
}

div.year h6 {
  width: 60%;
  text-align: center;
  font-size: 35px;
  letter-spacing: 10px;
}

div.year a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 253, 148);
}

div.schoolYearContainer div.month {
  font-size: 20px;
  width: 95%;
  height: 60vh;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  box-shadow: 0px 2px 5px black;
  border-radius: 0px 0px 25px 25px;
}

div.month div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

div.month div h3 {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  margin: 30px;
  font-size: 25px;
  letter-spacing: 7px;
  box-shadow: 0px 1px 5px white;
}

div.month div h3:hover {
  cursor: pointer;
  box-shadow: 0px 1px 10px white;
  font-size: xx-large;
  border-radius: 0px 0px 25px 25px;
  transition: 0.3s;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  div.year h5 {
    font-size: 40px;
  }
  div.year h6 {
    font-size: 25px;
    letter-spacing: 2.5px;
  }
  div.month div h3{
    font-size: 18px;
  }
  div.month div h3:hover {
    font-size: 23px;
  }
}
/* RESPONSIVE DESIGN */