* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAVIGATION BAR */
section.nav {
  font-family: "Tomorrow", sans-serif;
  height: 5vh;
  top: 10vh;
  width: 100%;
  left: 0;
  z-index: 1;
  position: absolute;
  background-color: rgb(63, 186, 135, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section.nav div.back-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

section.nav div.back-container h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.back-container h1 a {
  text-decoration: none;
  color: black;
}

section.nav .title {
  width: 40%;
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

section.nav .title div h3 {
  font-size: 23px;
  letter-spacing: 5px;
}

section.nav .title div h6 {
  padding-top: -10px;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 3px;
}

section.nav div.admin-container {
  width: 30%;
  display: flex;
  height: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
}

section.nav div.admin-container h6.adminLogged {
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.admin-container h6.adminLogged span {
  text-transform: none;
  color: green;
  letter-spacing: 2px;
  font-style: italic;
  cursor: pointer;
  text-shadow: 0px 0px 10px rgb(148, 252, 171);
}

section.nav div.admin-container h2.logout a {
  text-decoration: none;
  color: rgb(160, 0, 0);
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}
/* NAVIGATION BAR */

div.registerContainer {
  font-family: "Tomorrow", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/loginBg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.registerContainer form {
  height: 65%;
  margin-top: 10vh;
  width: 70%;
  background-color: rgb(63, 186, 135, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

div.registerContainer form:hover {
  transition: 0.5s;
  border-top: 2px solid rgb(26, 156, 139);
  border-bottom: 2px solid rgb(26, 156, 139);
}

div.registerContainer div.studentInfo {
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

div.registerContainer div.studentInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: 100%;
  width: 30%;
}

div.registerContainer div.studentInfo div.otherInfo textarea {
  width: 100%;
  padding: 3px;
  letter-spacing: 2px;
  border-radius: 3px;
  border: 1px solid black;
  resize: none;
  font-size: 18px;
  text-align: center;
}

div.registerContainer form div label {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px rgb(0, 0, 0);
}

div.registerContainer form div input {
  padding: 3px;
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  font-size: 18px;
  width: 100%;
  letter-spacing: 2px;
  border-radius: 3px;
  border: 1px solid black;
}

div.registerContainer form div.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

div.registerContainer form button {
  padding: 10px;
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-weight: bolder;
  border-style: none;
  color: white;
  background-color: black;
  margin-top: 10px;
}

div.registerContainer form button:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  section.nav div.admin-container h6.adminLogged {
    font-size: 15px;
    letter-spacing: 3px;
  }

  section.nav div.admin-container h2.logout a {
    font-size: 15px;
  }

  section.nav .title {
    gap: 2px;
    padding: 2px;
  }

  section.nav .title div h3 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  section.nav .title div h6 {
    font-size: 9px;
    letter-spacing: 3px;
  }

  section.nav div.back-container {
    gap: 30px;
  }

  section.nav div.back-container h1 {
    font-size: 15px;
    letter-spacing: 3px;
  }

  div.registerContainer form {
    gap: 0px;
  }

  div.registerContainer div.studentInfo {
    height: 80%;
    width: 80%;
  }

  div.registerContainer div.studentInfo div {
    gap: 10px;
  }

  div.registerContainer div.studentInfo div.otherInfo textarea {
    font-size: 15px;
    padding: 3px;
  }

  div.registerContainer form div label {
    font-size: 20px;
  }

  div.registerContainer form div input {
    font-size: 15px;
    width: 100%;
    padding: 3px;
    letter-spacing: 1px;
  }

  div.registerContainer form button {
    font-size: 15px;
    letter-spacing: 5px;
    padding: 8px;
  }
}
/* RESPONSIVE DESIGN */
