* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  justify-content: center;
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: rgb(168, 255, 118);
  box-shadow: 0px 3px 5px rgb(49, 134, 0);
}

header div {
  height: 100%;
}

.calLogo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.calLogo div img {
  height: 100%;
  width: 100%;
  padding: 6%;
}

.title {
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h5 {
  padding-top: 1%;
}

.depEdLogo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.depEdLogo div img {
  height: 100%;
  width: 100%;
  padding: 6%;
}
/* HEADER */

div.studentProfile {
  font-family: "Tomorrow", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/loginBg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.studentProfile div.profileContainer {
  overflow-x: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  height: 70%;
  background-color: rgb(26, 156, 139, 0.5);
  border-radius: 20px;
}

div.studentProfile div h3.title {
  margin-top: 2%;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: -2px 1px 1px rgb(148, 252, 171);
  color: black;
  letter-spacing: 5px;
}

div.studentProfile div div form {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

div.studentProfile div div.navigate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

div.studentProfile div div.navigate h3 {
  font-family: "Tomorrow", sans-serif;
  font-size: 20px;
  width: 33.3%;
  text-shadow: -1px 0px 1px white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

div.studentProfile div div.navigate a {
  color: black;
  text-decoration: none;
}

div.studentProfile div div.navigate h3:hover {
  text-shadow: -1px 0px 1px rgb(148, 252, 171);
}

div.studentProfile div div form input {
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  font-size: 23px;
  border-radius: 10px;
  align-self: center;
  background-color:white;
  border: 0px solid black;
}

div.studentProfile div div form button {
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid black;
  background-color: rgb(0, 77, 66);
  color: white;
}

div.studentProfile div div form button:hover {
  transition: 0.5s;
  cursor: pointer;
  border: none;
  background-color: green;
}

div.studentProfile div table {
  width: 97%;
}

div.studentProfile div table tr th {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgb(168, 255, 118);
}

div.studentProfile div table tr td {
  padding: 3px 0px;
  text-transform: lowercase;
  text-shadow: -1px 1px 1px black;
  color: white;
  text-align: center;
}

div.studentProfile div table tr:hover {
  cursor: pointer;
  background-color:rgb(168, 255, 118,0.3);
  
}

div.studentProfile div table tr td.name, div.studentProfile div table tr td.address {
  text-transform: capitalize;
}

div.studentProfile div table tr td.section, div.studentProfile div table tr td.function {
  text-transform: uppercase;
}

div.studentProfile div table tr a {
  text-decoration: none;
  color: rgb(255, 153, 139);
  cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  .title {
    font-size: smaller;
  }
  div.studentProfile div table tr th {
    font-size: 15px;
    letter-spacing: 2px;
  }
  div.studentProfile div table tr td {
    padding: 3px 0px;
    font-size: 14px;
  }
  div.studentProfile div div.navigate h3 {
    font-family: "Tomorrow", sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
  }
  div.studentProfile div div form button {
    font-size: 15px;
    letter-spacing: 2px;
  }
  div.studentProfile div div form input {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
/* RESPONSIVE DESIGN */

/* FOOTER */
footer {
  color: white;
  background-color: rgb(26, 156, 139, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  filter: blur(1px);
}

footer:hover {
  box-shadow: 0px -1px 5px rgb(49, 134, 0);
  opacity: 1;
  filter: blur(0px);
  transition: 0.5s;
  height: 10vh;
}

footer div {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

footer div div img {
  padding: 5%;
}

footer div div img:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* FOOTER */
