* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.signup-container section {
  justify-content: center;
  width: 100%;
  height: 65%;
}

section.signupFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.signupFormContainer form {
  font-family: "Tomorrow", sans-serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5px;
background-color: rgba(171, 221, 183, 0.3);
  box-shadow: -3px 3px 1px rgba(22, 110, 174, 0.5);
  border-radius: 15px;
border-radius: 15px;
height: 60%;
width: 80%;
}

section.signupFormContainer form:hover {
  box-shadow: -3px 3px 10px rgba(22, 110, 174, 0.5);
}

section.signupFormContainer form h3 {
  font-size: 40px;
  color: darkblue;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  align-self: center;
}

section.signupFormContainer form label {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color:darkblue;
  margin-top: 15px;
}

section.signupFormContainer form input {
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 3px;
  width: 60%;
  border-radius: 8px;
  border: 0px solid darkblue;
  box-shadow: -1px 1px 2px rgba(22, 110, 174);
}

section.signupFormContainer form input:hover {
  box-shadow: -1px 1px 10px green;
}

section.signupFormContainer form h6 {
  margin-top: 5px;
  letter-spacing: 1px;
  text-shadow: -2px 2px 2px rgba(22, 110, 174, 0.5);
}

section.signupFormContainer form a {
  color: white;
  text-decoration: none;
}

section.signupFormContainer form a:hover {
  color: darkblue;

}

.button-signUp {
  padding: 8px;
  width: 25%;
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-weight: bolder;
  border-style: none;
  color: white;
  background-color: green;
  margin-top: 10px;
}

.button-signUp:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: darkblue;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  section.signupFormContainer form {
    height: 65%;
  }
  section.signupFormContainer form label {
    font-size: 15px;
    margin-top: 7px;
  }

  section.signupFormContainer form input {
    font-size: 13px;
  }

  section.signupFormContainer form h3 {
    font-size: 28px;
  }

  section.signupFormContainer form h6 {
    font-size: 10px;
  }

  .button-signUp {
    margin-top: 5px;
    font-size: 13px;
    padding: 6px;
    border-radius: 8px;
  }
}
/* RESPONSIVE DESIGN */
