* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAVIGATION BAR */
section.nav {
  font-family: "Tomorrow", sans-serif;
  height: 5vh;
  top: 10vh;
  width: 100%;
  left: 0;
  z-index: 1;
  position: absolute;
  background-color: rgb(63, 186, 135,0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section.nav div.back-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

section.nav div.back-container h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.back-container h1 a{
  text-decoration: none;
  color: black;
}

section.nav .title {
  width: 40%;
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

section.nav .title div h3 {
  font-size: 23px;
  letter-spacing: 5px;
}

section.nav .title div h6 {
  padding-top: -10px;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 3px;
}


section.nav div.admin-container {
  width: 30%;
  display: flex;
  height: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
}

section.nav div.admin-container h6.adminLogged {
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.admin-container h6.adminLogged span {
  text-transform: none;
  color: green;
  letter-spacing: 2px;
  font-style: italic;
  cursor: pointer;
  text-shadow: -1px 1px 1px white;
} 

section.nav div.admin-container h2.logout a {
  text-decoration: none;
  color: rgb(160, 0, 0);
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}
/* NAVIGATION BAR */

div.studentProfile {
  font-family: "Tomorrow", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.studentProfile div.profileContainer {
  overflow-x: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 7vh;
  height: 75%;
}

div.studentProfile div div.search-container {
  display: flex;
  align-items: center;
  justify-content:end;
  flex-direction: row;
  gap: 10px;
  width: 90%;
}

div.studentProfile div div.search-container form input {
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  font-size: 23px;
  border-radius: 10px;
  align-self: center;
  background-color: white;
  color: black;
  border: 2px solid black;
}

div.studentProfile div div.search-container form button {
  padding: 10px;
  font-family: "Tomorrow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-weight: bolder;
  border-style: none;
  color: white;
  background-color: black;
  margin-top: 10px;
}

div.studentProfile div div.search-container form button:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

div.studentProfile div table {
  width: 100%;
}

div.studentProfile div table tr th {
  padding: 2px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgb(63, 186, 135);
  text-shadow: -1px 1px 1px white;
}

div.studentProfile div table tr td {
  padding: 3px 0px;
  text-transform: lowercase;
  color: black;
  text-align: center;
}

div.studentProfile div table tr:hover {
  cursor: pointer;
  background-color: rgb(63, 186, 135,0.5);
}

div.studentProfile div table tr td.name,
div.studentProfile div table tr td.address {
  text-transform: capitalize;
}

div.studentProfile div table tr td.section,
div.studentProfile div table tr td.function {
  text-transform: uppercase;
}

div.studentProfile div table tr a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  div.studentProfile div h3.title {
    font-size: 35px;
  }
  div.studentProfile div table tr th {
    font-size: 15px;
    letter-spacing: 2px;
  }
  div.studentProfile div table tr td {
    padding: 3px 0px;
    font-size: 14px;
  }
  div.studentProfile div div div.admin-container h3 {
    font-family: "Tomorrow", sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
  }
  div.studentProfile div div form button {
    font-size: 15px;
    letter-spacing: 2px;
  }
  div.studentProfile div div form input {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
/* RESPONSIVE DESIGN */
