* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAVIGATION BAR */
section.nav {
  font-family: "Tomorrow", sans-serif;
  height: 5vh;
  top: 10vh;
  width: 100%;
  left: 0;
  z-index: 1;
  position: absolute;
  background-color: rgb(63, 186, 135,0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section.nav div.back-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

section.nav div.back-container h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.back-container h1 a{
  text-decoration: none;
  color: black;
}

section.nav .title {
  width: 40%;
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

section.nav .title div h3 {
  font-size: 23px;
  letter-spacing: 5px;
}

section.nav .title div h6 {
  padding-top: -10px;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 3px;
}

section.nav div.admin-container {
  width: 30%;
  display: flex;
  height: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
}

section.nav div.admin-container h6.adminLogged {
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}

section.nav div.admin-container h6.adminLogged span {
  text-transform: none;
  color: green;
  letter-spacing: 2px;
  font-style: italic;
  cursor: pointer;
  text-shadow: -1px 1px 1px white;
} 

section.nav div.admin-container h2.logout a {
  text-decoration: none;
  color: rgb(160, 0, 0);
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: -1px 1px 1px white;
}
/* NAVIGATION BAR */

div.studentProfile {
  font-family: "Tomorrow", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.studentProfile div.profileContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height:100%;

}

div.studentProfile div div.search-container {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  width: 100%;
  height: 5vh;

}

div.studentProfile div.profileContainer div.search-container h3 {
  width: 30%;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

div.studentProfile div.profileContainer div.search-container h3 a{
  color: black;
  text-decoration: none;
}

div.studentProfile div.profileContainer div.search-container a:hover {
  transition: 0.5s;
  color: blue;
}

div.studentProfile div.profileContainer div.search-container h3 span {
  text-transform: lowercase;
  color: blue;
}

div.studentProfile div.profileContainer div.search-container form {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

div.studentProfile div.profileContainer div.search-container form input {
  font-size: 13px;
  border: 1px solid black;
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  padding: 4px 10px;
  letter-spacing: 3px;
  border-radius: 5px;
}

div.studentProfile div div.search-container form button {
  border: 0px solid black;
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: "Tomorrow", sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px;
  cursor: pointer;
}

div.studentProfile div div.search-container form button:hover {
  background-color: green;
  transition: 0.5s;
}

div.studentProfile div.studentRecords {
  width: 100%;
  height: 80vh;
  top: 20vh;
  overflow-x: auto;
}

div.studentProfile div.studentRecords::-webkit-scrollbar {
  width: 1.7vh;
}

div.studentProfile div.studentRecords::-webkit-scrollbar-track {
  background-color: rgb(63, 186, 135);
}

div.studentProfile div.studentRecords::-webkit-scrollbar-thumb:hover {
  background-color: rgb(47, 140, 101);
  border-radius: 5px;
}

div.studentProfile div table {
  width: 100%;
}


div.studentProfile div table tr th {
  font-family: "Tomorrow", sans-serif;
  padding: 2px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgb(63, 186, 135);
  text-shadow: -1px 1px 1px white;
}

div.studentProfile div table tr td {
  font-family: "Tomorrow", sans-serif;
  height: 5vh;
  padding: 2px;
  text-align: center;
  font-size: 15px;
}

div.studentProfile div table tr:hover {
  cursor: pointer;
  background-color: rgb(63, 186, 135,0.5);
}

div.studentProfile div table tr td.name,
div.studentProfile div table tr td.address {
  text-transform: capitalize;
}

div.studentProfile div table tr td.section{
  text-transform: uppercase;
}

div.studentProfile div table tr td.function {
  text-transform: uppercase;
}

div.studentProfile div table tr a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  letter-spacing:2px;
  font-size: 18px;
}

div.studentProfile div table tr a:hover {
  text-shadow: 0px 0px 10px blue;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
  section.nav div.admin-container h6.adminLogged {
    font-size: 15px;
    letter-spacing: 3px;
  }

  section.nav div.admin-container h2.logout a {
    font-size: 15px;
  }

  section.nav .title {
    gap: 2px;
   padding: 2px;
  }

  section.nav .title div h3 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  section.nav .title div h6 {
    font-size: 9px;
    letter-spacing: 3px;
  }

  section.nav div.back-container {
    gap: 30px;
  }

  section.nav div.back-container h1 {
    font-size: 15px;
    letter-spacing: 3px;
  }

  div.studentProfile div div.search-container form input {
    font-size: 15px;
  }
  
  div.studentProfile div div.search-container form button {
    font-size: 17px;
    letter-spacing: 3px;
    padding: 8px;
  }
  
  div.studentProfile div table tr th {
    font-size: 15px;
    letter-spacing: 2px;
  }
  div.studentProfile div table tr td {
    padding: 3px 0px;
    font-size: 14px;
  }
}
/* RESPONSIVE DESIGN */
